%html
  = render 'layouts/integral/head'
  %body{ class: "#{controller_name} #{action_name}"}
    = render_flashes

    %header
      %nav
        .nav-wrapper
          <a href="#" data-activates="admin-menu" class="button-collapse" id="admin-menu-toggle"><span class="material-icons">menu</span><span class="toggle-text">Menu</span><span class="vertical-divider"></span></a>
          %span.admin-menu-logo
            Integral
          <!-- may not need this anymore --!>
          %ul.right#admin-menu-top
          %ul.side-nav#admin-menu
            %li#user-menu
              #user-menu-contents
                = image_tag(current_user.avatar)
                %span SIGNED IN AS
                %span#user-menu-name
                  = current_user.name
            %div
              %li
                = link_to root_path do
                  <span class="material-icons red-text text-lighten-1">home</span>Home
              %li
                = link_to users_path do
                  <span class="material-icons red-text text-lighten-1">supervisor_account</span>Users


            #admin-menu-footer
              %li
                = link_to user_path(current_user) do 
                  <span class="material-icons green-text text-lighten-1">perm_identity</span>Account & Profile
              %li
                = link_to destroy_user_session_path, :method => :delete do
                  <span class="material-icons grey-text text-lighten-1">exit_to_app</span>Sign Out

    %main
      = render "layouts/integral/floating_button"
      .container
        = render_breadcrumbs builder: MaterializeBuilder if @breadcrumbs.present?
        = yield



