%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Integral"
    %meta{ name: "ROBOTS", content: "NOINDEX, NOFOLLOW" }
    = stylesheet_link_tag 'integral/application'
    = javascript_include_tag 'integral/application'
    = csrf_meta_tags
  %body
    = yield
