%html
  = render 'layouts/integral/head'
  %body{ class: "#{controller_name} #{action_name}", data: {locale: I18n.locale }}
    = render_flashes

    %header
      %nav
        .nav-wrapper
          %a#admin-menu-toggle.button-collapse{data: { activates: 'admin-menu' }}
            %span.material-icons menu
          %span.admin-menu-logo
            = content_for?(:title) ? yield(:title) : "Integral"
          <!-- may not need this anymore --!>
          %ul.right#admin-menu-top
          %ul.side-nav#admin-menu
            %li#user-menu
              #user-menu-contents
                = image_tag(current_user.avatar)
                %span= t('integral.navigation.signed_in_as')
                %span#user-menu-name
                  = current_user.name
            %div
              %li
                = link_to root_path do
                  %span.material-icons.red-text.text-lighten-1 home
                  = t('integral.navigation.home')

              - if policy(Integral::Post).manager?
                %li
                  = link_to posts_path do
                    %span.material-icons.orange-text.text-lighten-3 rss_feed
                    = t('integral.navigation.posts')

              - if policy(Integral::Page).manager?
                %li
                  = link_to pages_path do
                    %span.material-icons.blue-text.text-lighten-3 create
                    = t('integral.navigation.pages')

              - if policy(Integral::Image).manager?
                %li
                  = link_to img_index_path do
                    %span.material-icons.indigo-text.text-lighten-3 image
                    = t('integral.navigation.images')

              - if policy(current_user).manager?
                %li
                  = link_to users_path do
                    %span.material-icons.orange-text.text-lighten-1 supervisor_account
                    = t('integral.navigation.users')

            #admin-menu-footer
              %li
                = link_to user_path(current_user) do 
                  %span.material-icons.green-text.text-lighten-1 perm_identity
                  = t('integral.navigation.my_account')

              %li
                = link_to destroy_user_session_path, :method => :delete do
                  %span.material-icons.grey-text.text-lighten-1 exit_to_app
                  = t('integral.navigation.log_out')

    %main
      = render "layouts/integral/floating_button"
      .container
        = render_breadcrumbs builder: MaterializeBuilder if @breadcrumbs.present?
        = yield



