%html
  = render 'layouts/integral/backend/head'
  %body{ class: "#{controller_name} #{action_name}", data: {locale: I18n.locale }}
    .integral-version= "Integral Version: #{Integral::VERSION}"
    = render_flashes
    = render "layouts/integral/backend/header"

    .main-container
      %main
        /= render "layouts/integral/backend/floating_button"
        .container
          .breadcrumbs
            = render_breadcrumbs if @breadcrumbs.present?
          = yield

