= content_for :title, t('.title')

.row.settings
  = simple_form_for :settings, url: backend_settings_path, class: "col s12", :defaults => {:required => false}, remote: true, html: { id: :update_settings } do |f|
    .col.s12.m11.l12
      %ul.collapsible{ data: { collapsible: 'accordion' }}
        = render partial: 'integral/backend/settings/general', locals: { f:f }
        = render partial: 'integral/backend/settings/seo', locals: { f:f }
        = render partial: 'integral/backend/settings/social', locals: { f:f }

    = f.button :button, t('integral.actions.update')
