.row
  = simple_form_for @post, validate: true, html: { id: 'post_form' } do |f|
    .col.s12
      .card-panel
        = f.input :title
        = f.input :slug
        = f.input :description, as: :text
        = f.input :tag_list, input_html: { value: @post.tag_list.join(','), data: { role: "materialtags", typeahead: Integral::Post.tag_counts.collect(&:name).join(' ') } }
        = f.input :image, :wrapper_html => { :class => "file-field" }, label: false, input_html: { button_label: 'Image' }
        = f.input :body, as: :ckeditor, label: false, input_html: { id: 'post_body_editor' }
        .radios
          = f.collection_radio_buttons :status, [['draft', 'DRAFT'], ['published', 'PUBLISHED']], :first, :last

    = f.button :button

