.blog-post
  %h3= post.title
  -# <h3>Awesome blog post title <small>3/6/2015</small></h3>
  = link_to post_path(post) do
    %img.thumbnail{ src: "http://placehold.it/850x350" }
  %p= post.description
  .callout
    .tags
      - post.tags.each do |tag|
        = link_to tag_path(tag.name) do
          %span.label= tag.name
    %ul.menu.simple
      %li= post.author.name
      %li= link_to 'Comments: 3', post_path(post)

