- card_class ||= ''

.col.s12.m6.l4.integral-image{ class: card_class }
  .integral-card
    = link_to edit_backend_img_path(image) do
      .card-image
        = image_tag image.file.url(:small)
        %span.card-title= image.title
    .card-action
      = link_to 'Edit', edit_backend_img_path(image)
      = link_to 'Delete', backend_img_path(image), method: :delete, data: { confirm: t('integral.actions.confirm') }

