= content_for :title, t('.title')

.row.collapse.margin-top-1
  .small-12.columns
    .filters
      .button-group
        %a.button.active
          All Items
          = "(#{@posts_count})"
        %a.button
          Published
          = "(#{@published_posts_count})"
        %a.button
          Draft
          = "(#{@draft_posts_count})"

    = link_to t('.new_post'), new_backend_post_path, class: 'button pull-right'

    = render 'post_list'

