= content_for :title, t('.title')

.row
  - if policy(Integral::Post).manager?
    = render partial: 'card', locals: { link_path: posts_path, image_path: 'posts.png', title: 'Posts', description: 'Add, edit and remove posts', image_classes: 'grey darken-2' }
  
  - if policy(Integral::Page).manager?
    = render partial: 'card', locals: { link_path: pages_path, image_path: 'pages.png', title: 'Pages', description: 'Add, edit and remove pages', image_classes: 'orange lighten-4' }

  - if policy(current_user).manager?
    = render partial: 'card', locals: { link_path: users_path, image_path: 'users.png', title: 'Users', description: 'Add, edit and remove users', image_classes: 'blue lighten-2'}

  - if policy(Integral::Image).manager?
    = render partial: 'card', locals: { link_path: img_index_path, image_path: 'images.png', title: 'Images', description: 'Add, edit and remove images', image_classes: 'blue lighten-2' }

  = render partial: 'card', locals: { link_path: user_path(current_user), image_path: 'user.png', title: 'My Profile', description: 'View & edit your profile', image_classes: 'teal lighten-2' }

