= content_for :title, t('.title')

.row
  - if policy(Integral::Post).manager?
    = render partial: 'card', locals: { link_path: posts_path, image_path: 'integral/tiles/posts.png', title: t('integral.navigation.posts'), image_classes: 'grey darken-2' }

  - if policy(Integral::Page).manager?
    = render partial: 'card', locals: { link_path: pages_path, image_path: 'integral/tiles/pages.png', title: t('integral.navigation.pages'), image_classes: 'orange lighten-4' }

  - if policy(Integral::Menu).manager?
    = render partial: 'card', locals: { link_path: menus_path, image_path: 'integral/tiles/menus.png', title: t('integral.navigation.menus'), image_classes: 'orange lighten-4' }

  - if policy(current_user).manager?
    = render partial: 'card', locals: { link_path: users_path, image_path: 'integral/tiles/users.png', title: t('integral.navigation.users'), image_classes: 'blue lighten-2'}

  - if policy(Integral::Image).manager?
    = render partial: 'card', locals: { link_path: img_index_path, image_path: 'integral/tiles/images.png', title: t('integral.navigation.images'), image_classes: 'blue lighten-2' }

  = render partial: 'card', locals: { link_path: account_path, image_path: 'integral/tiles/user.png', title: t('integral.navigation.my_account'), image_classes: 'teal lighten-2' }

