%li
  = link_to backend_dashboard_path do
    %span.material-icons.red-text.text-lighten-1 home
    = t('integral.navigation.home')

- if policy(Integral::Post).manager? && Integral.configuration.blog_enabled
  %li
    = link_to backend_posts_path do
      %span.material-icons.orange-text.text-lighten-3 rss_feed
      = t('integral.navigation.posts')

- if policy(Integral::Page).manager?
  %li
    = link_to backend_pages_path do
      %span.material-icons.blue-text.text-lighten-3 create
      = t('integral.navigation.pages')

- if policy(Integral::List).manager?
  %li
    = link_to backend_lists_path do
      %span.material-icons.yellow-text.text-lighten-1 list
      = t('integral.navigation.lists')

- if policy(Integral::Image).manager?
  %li
    = link_to backend_img_index_path do
      %span.material-icons.indigo-text.text-lighten-3 image
      = t('integral.navigation.images')

- if policy(current_user).manager?
  %li
    = link_to backend_users_path do
      %span.material-icons.orange-text.text-lighten-1 supervisor_account
      = t('integral.navigation.users')
  %li
    = link_to backend_settings_path do
      %span.material-icons.red-text.text-lighten-1 settings
      = t('integral.navigation.settings')

