.row
  = simple_form_for [:backend, @list], validate: true  do |f|
    .col.s12
      .card-panel
        .row
        = f.input :title
        = f.input :description, as: :text
        = f.input :html_id
        = f.input :html_classes

    = f.button :button

