.modal.menu-item-modal.modal-fixed-footer{id: "menu-item-modal-#{f.object.id}"}
  .modal-header
    %h4 Edit List Item
  .modal-content
    = f.input :type, input_html: { class: 'type-field'} do
      - f.select :type, Integral::MenuItem.types_collection, { include_blank: false, prompt: t('integral.prompts.select_type') }, { class: 'type-field' }
    = f.input :object_type, as: :hidden, input_html: { class: 'object-type-field' }
    .object-wrapper{ class: f.object.object? ? '' : 'hide' }
      = f.input :object_id do
        - f.select :object_id, Integral::Post.menu_item_collection, { include_blank: false, prompt: 'Select Post..' }, { class: 'object-id-field' }

      .row.object-preview.hoverable
        .overlay
          %i.material-icons edit
        .col.m3
          = image_tag image_path('integral/defaults/post_image')
        .col.m8
          %h5 The Exciting World of Nothing
          %span.subtitle Published 5 days ago
          %span.url http://www.lougle.com/?roflcopter

      %hr
      %small Override defaults &#9660;
    = f.input :title, input_html: { class: 'title-field' }
    .link-wrapper{ class: f.object.basic? || !f.object.persisted? ? 'hide' : '' }
      = f.input :url, input_html: { class: 'url-field' }, as: :string
      = f.input :target, as: :boolean, checked_value: '_blank', unchecked_value: '_self', input_html: { class: 'target-field' }
    = f.input :description, as: :string
    = f.input :html_classes

    = f.association :image, prompt: t('integral.prompts.select_image'), collection: Integral::Image.all.order(:title)
    = f.input :priority, as: :hidden, input_html: { class: 'priority-field' }

  .modal-footer
    = link_to 'Ok', '#', class: 'btn confirm-btn'
    = link_to_remove_association 'Remove', f, class: 'btn red lighten-1 modal-close', wrapper_class: 'menu-item-container'

