.row
  = simple_form_for @user, validate: true, html: { id: 'user_form' } do |f|
    .col.s12
      .card-panel
        .row
          .image-preview.col.s2.offset-s5.center
            = f.input :avatar, wrapper_html: { class: 'hide' }, input_html: { id: 'user_avatar-uploader', class: 'image-uploader', data: { preview_selector: '#user-avatar' } }
            = f.label :'avatar-uploader' do
              = image_tag @user.avatar, class: 'clickable hoverable user-avatar', id: 'user-avatar'
              %span.material-icons.grey-text.text-darken-3.clickable edit

        = f.input :name
        = f.input :email
        = f.input :password if @user.persisted?
        = f.input :password_confirmation if @user.persisted?

        - if policy(current_user).manager?
          = f.association :roles, :as => :check_boxes, label: false, label_method: :label

    = f.button :button

