.row
  = simple_form_for @page, validate: true, html: { id: 'page_form' } do |f|
    .col.s12
      .card-panel
        = f.input :title
        = f.input :description
        = f.input :path
        = f.input :body, as: :ckeditor, label: false, input_html: { id: 'content_editor', ckeditor: {:toolbar => 'mini'} }
        .radios
          = f.collection_radio_buttons :status, [['draft', 'DRAFT'], ['published', 'PUBLISHED']], :first, :last

    = f.button :button

